---
title: "A unified view of Piecewise Linear Neural Network Verification"
year: 2018
pdf_url: "http://www.robots.ox.ac.uk/~tvg/publications/2018/nn_verif.pdf"
category: "vision"
author_list: "Rudy Bunel, Ilker Turkaslan, Philip H.S. Torr, Pushmeet Kohli, M Pawan Kumar"
grant: "MURI"
pub_in: "Neural Information Processing Systems (NeurIPS) 2018"
---