---
title: "Lagrangian Decomposition for Neural Network Verification"
year: 2020
pdf_url: "https://arxiv.org/pdf/2002.10410.pdf"
category: "vision"
author_list: "Rudy Bunel, Alessandro De Palma, Alban Desmaison, Krishnamurthy Dvijotham, Pushmeet Kohli, Philip H.S. Torr, M Pawan Kumar"
grant: ""
pub_in: "Conference on Uncertainty in Artificial Intelligence 2020"
---