<article id="{{ include.banner_id }}" class="" style="background-image: url(&quot;{{ include.banner_bg_img_path }}&quot;); background-position: center 0px;">
					<!-- this is technically not used any more, but the article bg image seems to load this by default -->
					<img src="{{ include.banner_img_path }}" alt="" style="display: none;">
					<div class="inner">
						<div class="banner_top"></div>
						<header>
							<h3 style="margin: 2rem 0 0 0;">Zhang Vision Group</h3>
							<h2 style="display: none">TVG</h2>
						</header>
					</div>
				</article>