<section class="banner full">
	<article id="banner_image_1">
		<div class="inner">
			<div class="banner_top"></div>
			<header>
				<h2 style="margin: 2rem 0 0 0; text-shadow: 3px 3px #333333">Torr Vision Group</h2>
				<!-- <img src="https://oatml.cs.ox.ac.uk/images/logo.png" alt="OATML" class="my_logo" /> -->
				<h4 style="text-shadow: 2px 2px #333333">Department of Engineering Science, University of Oxford</h4>
			</header>
		</div>
	</article>

	<article id="banner_image_2">
		<div class="inner">
			<div class="banner_top"></div>
			<header>
				<h2 style="margin: 2rem 0 0 0; text-shadow: 3px 3px #333333;">Torr Vision Group</h2>
				<!-- <img src="https://oatml.cs.ox.ac.uk/images/logo.png" alt="OATML" class="my_logo" /> -->
				<h4 style="text-shadow: 2px 2px #333333">Department of Engineering Science, University of Oxford</h4>
			</header>
		</div>
	</article>

	<article id="banner_image_3">
		<div class="inner">
			<div class="banner_top"></div>
			<header>
				<h2 style="margin: 2rem 0 0 0; text-shadow: 3px 3px #333333">Torr Vision Group</h2>
				<!-- <img src="https://oatml.cs.ox.ac.uk/images/logo.png" alt="OATML" class="my_logo" /> -->
				<h4 style="text-shadow: 2px 2px #333333">Department of Engineering Science, University of Oxford</h4>
			</header>
		</div>
	</article>

	<ul class="indicators"><li class=""></li><li class=""></li><li class=""></li></ul>
</section>