<body>
    <div id="container"></div>
    <script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=P5eKeo15Nf8Ncas8c84lcXU7kcjWQuyc">
        var map = new BMapGL.Map('container'); // 创建Map实例
        var new_point = new BMapGL.Point(121.518122,31.303999);
        map.centerAndZoom(new_point, 16); // 初始化地图,设置中心点坐标和地图级别
        map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
        var marker = new BMapGL.Marker(new_point);  // 创建标注
        map.addOverlay(marker);              // 将标注添加到地图中
        // map.panTo(new_point);
    </script>
</body>
