<div class="col-xs-4">
    <div class="">
    </div>
</div>

<div class="col-xs-4">
    {% if include.name %}
    <div class="">
        {% if include.photo %}
        <img src="{{ include.photo }}" width="180" height="180">

        {% else %}
        <img src="/images/nobody.png" width="180" height="180">
        {% endif %}

        <p>

        </p>
        <p>

        </p>
    </div>
    {% endif %}
</div>

<div class="col-xs-4">
    {% if include.name %}
    <div {% if include.person_style %} style="{{ include.person_style }}" {% endif %}>
        <div class="">
            {% if include.website %}
            <a href="{{ include.website }}" target="_blank" style="color: #2F72A8;">{{ include.name }}</a>
            {% else %}
            {{ include.name }}
            {% endif %}
        </div>
        {% if include.title %}
        {{ include.title }}
        <br>
        {% endif %}

        {% if include.google %}
        <a href="{{ include.google }}" target="_blank" style="font-size: 16px; color: #2F72A8">[google scholar]</a>
        <br>
        {% endif %}

        {% if include.email %}
        <a href="mailto:{{ include.email }}" style="font-size: 16px; color: #2F72A8">[email]</a>
        <br>
        {% endif %}
    </div>
    {% endif %}
</div>
