<li>
    <div class="news-summary">
        <div class="news-date">
              <span class="new-day-month rounded">
                {{ include.news_date }}
              </span>
            <span class="new-year rounded">
                {{ include.year }}
              </span>
        </div>
        <h3 class="news-title">{{ include.title }}</h3>
    </div>

    {% if include.news_content %}
    {{ include.news_content }}
    {% endif %}

    {% if include.link %}
    <a href="{{ include.link }}" target="_blank" style="font-size: 16px; color: #2F72A8">[Link]</a>
    {% endif %}

    {% if include.link2 %}
    <a href="{{ include.link2 }}" target="_blank" style="font-size: 16px; color: #2F72A8">[Link2]</a>
    {% endif %}

    {% if include.link3 %}
    <a href="{{ include.link3 }}" target="_blank" style="font-size: 16px; color: #2F72A8">[Link3]</a>
    {% endif %}

    {% if include.link4 %}
    <a href="{{ include.link4 }}" target="_blank" style="font-size: 16px; color: #2F72A8">[Link4]</a>
    {% endif %}

    {% if include.link5 %}
    <a href="{{ include.link5 }}" target="_blank" style="font-size: 16px; color: #2F72A8">[Link5]</a>
    {% endif %}

</li>