<div div class="text-center">
    <h1>Rethinking Semantic Segmentation from a Sequence-to-Sequence Perspectivewith Transformers</h1> 
    <br> 
    <p>
    <h4>
    <a href="" target="_blank">Sixiao Zheng</a><sup>1 *</sup>, &ensp;&ensp;
    <a href="" target="_blank">Jiachen Lu</a><sup>1 *</sup>, &ensp;&ensp;
    <a href="" target="_blank">Hengshuang Zhao</a><sup>2</sup>, &ensp;&ensp;
    <a href="" target="_blank">Xiatian Zhu</a><sup>3</sup>, &ensp;&ensp;
    <a href="" target="_blank">Zekun Luo</a><sup>4</sup>, &ensp;&ensp;
    <a href="" target="_blank">Yabiao Wang</a><sup>4</sup>, &ensp;&ensp;
    <a href="" target="_blank">Yanwei Fu</a><sup>1</sup>, &ensp;&ensp;
    <a href="" target="_blank">Jianfeng Feng</a><sup>1</sup>, &ensp;&ensp;
    <a href="" target="_blank">Tao Xiang</a><sup>3 5</sup>, &ensp;&ensp;
    <a href="" target="_blank">Philip H.S. Torr</a><sup>2</sup>, &ensp;&ensp;
    <a href="" target="_blank">Li Zhang</a><sup>1 †</sup>
    </h4>
    <br>
    <h4> <sup>1</sup>School of Data Science, Fudan University &ensp;&ensp;
    <sup>2</sup>University of Oxford &ensp;&ensp;
    <sup>2</sup>University of Surrey &ensp;&ensp;
    <sup>2</sup>Tencent Youtu Lab &ensp;&ensp;
    <sup>2</sup>Facebook AI
    </h4> 
    </p> 
</div> 